.App {
  /* text-align: center; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */ 
}
.App Button{
  background-color: gradient(#f22, #f29, #f40, #f50);
}

#hello {
  color: #f22;
  font-size: 12px;
}